*{
    margin: 0;
    padding: 0;
}
.categoriescont {
    max-width: 1300px;
    margin: 0 auto;
}
.catfruits {
    background-image: url(../media/fruitsimg3.jpg);
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    width: 50%;
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchsec {
    height: 37px;
    width: 300px;
    border-radius: 4px;
    padding-left: 14px;
    box-shadow: 1px 1px 7px lightgray;
    /* border: 2px solid black; */
}
.filt {
    width: 95% !important;
}
@media only screen and (min-width:320px) and (max-width:575px) {
   .catfruits {
        height: 272px;
        padding-right: 30px;
        width: 100%;
        background-position: right;
   } 
}
@media only screen and (min-width:575px) and (max-width:778px) {
    .catfruits {
         height: 272px;
         padding-right: 30px;
         width: 100%;
         background-position: right;
    } 
 }
 @media only screen and (min-width:778px) and (max-width:991px) {
    .catfruits {
         height: 272px;
         padding-right: 30px;
         width: 100%;
         background-position: right;
    } 
 }
 @media only screen and (min-width:991px) and (max-width:1200px) { 
    .catfruits {
        padding-right: 0px;
        background-position: right;
    }
 }