*{
    margin: 0;
    padding: 0;
}
.prodmain {
    max-width: 1300px;
    overflow: hidden;
    margin:  0 auto;
}
.prodtags {
    display: flex;
    justify-content: space-between;
}
.deal {
    font-size: 23px;
    color: #838383;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.deal span {
    color: #706233;
}
.prodcards{
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    margin: 40px 0;
    grid-template-columns : repeat(5, 1fr);
     
}
.prodcards a{
    text-decoration: none;
    color: black;
}
.prod1 {
    border: 1px solid #ede0e0;
    border-radius: 7px;
    position: relative;
    transition: 5s;
}
.prod1:hover img {
    transform: scale(1.1);
  }
  .prodimg {
      overflow: hidden;
      transform: scale(1);
  }
.prodimg img {
    height: 204px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
    transition: transform 0.8s ease;
}

 .fouricon {
    visibility: hidden;  /* Use visibility instead of display: none */
     position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    left: 0%;
    right: 0%;
    z-index: 3;
    transform: translateY(-17px);
    opacity: 0;
    transition: opacity 0s ease, transform 0.8s ease;
 }
 .prod1:hover .fouricon {
    /* Make it visible on hover */
      visibility: visible;
      transform: translateY(-30px);
      opacity: 1;
  }
.itemicon1 {
    height: 30px;
    width: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.saletag {
    background-color: rgb(226, 58, 58);
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: auto;
    width: fit-content;
}
.prodinfo {
    padding: 15px;
    flex-direction: column;
    display: flex;
    row-gap: 13px;
    border-top: 1px solid #ede0e0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.prodicon {
    color: rgb(234, 203, 22);
    font-size: 14px;
}
.prodicon span{
  color: gray;
}
.itemtag1 {
    font-size: 13px;
    color: #a6a0a0;
    letter-spacing: 1px;
}
.itemtag2 {
    font-size: 15px;
    color: #6e6e6e;
}
.prodprice {
    font-size: 15px;
    font-weight: 700;
}
.prodprice del {
    font-weight: 400;
    color: gray;
    font-size: 14px;
    margin-left: 10px;

}
.bgsimg {
    background-image: url(../media/bgfullimg.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 70px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: right;
    margin: 70px 0 70px 0;
    font-style: normal;
}
.firstbanner h1{
    color: #4b5966;
    font-size: 50px;
    line-height: 65px;
}
.bntag1 {
  color: #706233;
  font-size: 26px;
}
.bntag1 span{
    color: rgb(157, 157, 157);
    font-weight: 400;
}
.banbtn {
    color: white;
    background-color: #706233;
    padding: 7px 16px;
    margin-top: 12px;
    font-size: 13px;
    border: 1px solid #706233;
    border-radius: 5px;
}
.banbtn:hover {
    background-color: #4b5966;
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .search{
        display: none;
    }
    .categories,.curtloc {
        display: none;
    }
    .head2 {
        padding: 14px 0;
        justify-content : center;
    }
    .arrivalstag {
        text-align: center;
    }
    .head1 {
        margin: 0 20px;
    }

    .prodtag1 {
        text-align: center;
    }
   .prodcards {
    margin: 40px 25px;
    grid-template-columns: repeat(3, 1fr);
   }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) { 
    .prodcards {
        margin: 40px 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    .arrivalstag {
        text-align: center;
    }
    .prodtag1 {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1310px) { 
    .prodcards {
        margin: 40px 20px;
       
    }
    .head1 {
        margin: 0 20px;
    }
    .prodtag1 {
        margin-left: 20px;
    }
    .arrivalstag {
        text-align: center;
    }
    .head2 {
        padding: 10px 20px;
    }
}